.b-card {
    position: relative;
    overflow: hidden;
    width: calc(100% - 60px);
    height: 280px;
    align-self: center;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 5px 15px #ccc;
    margin-bottom: 30px;
    .tag {
        display: flex;
        color: #269e80;
        background-color: #99e2d0;
        position: absolute;
        top: 15px;
        right: 15px;
        padding: 8px 15px;
        border-radius: 5px;
        font-weight: 700;
    }
    img {
        height: 200px;
        width: 100%;
        object-fit: cover;
    }
    .infos {
        position: relative;
        display: flex;
        height: 100%;
        width: 100%;
        .text {
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 100%;
        }
        .icon {
            position: absolute;
            height: 100%;
            aspect-ratio: 1/1;
            right: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1.5rem;
            color: #353535;
            i:nth-child(2) {
                display: none;
            }
            &.liked {
                i:nth-child(2) {
                    display: block;
                }
                i:nth-child(1) {
                    display: none;
                }
                background: -webkit-linear-gradient(354deg, #9356DC 0%, #FF79DA 100%);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }
        }
    }
}