@for $c from 2 to 5 {
    @for $i from 2 to 5 {
        .category:nth-child(#{$c}) {
            .menu-card:nth-child(#{$i}) {
                animation-delay: $c * ($c * 0.1s) + $i * 0.15s;
            }
        }
    }
}
.menu-card {
    animation: slidein 0.8s ease-in both;
    position: relative;
    box-shadow: 0 5px 15px #ccc;
    background-color: #fff;
    width: calc(100% - 40px);
    border-radius: 15px;
    align-self: center;
    overflow: hidden;
    margin-bottom: 30px;
    display: flex;
    .inner {
        padding: 15px;
        position: relative;
        height: 100%;
        width: 100%;
        overflow: hidden;
        h1 {
            font-size: 1.5rem;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        p {
            width: calc(100% - 50px);
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .price {
            position: absolute;
            bottom: 13px;
            right: 15px;
            font-size: 1.1rem;
            font-weight: bold;
        }
    }
    .anim-box {
        width: 0px;
        background-color: #99E2D0;
        color: #fff;
        font-size: 1.5rem;
        overflow: hidden;
        transition: width .5s;
        display: flex;
        align-items: center;
        justify-content: center;
        i {
            transition: transform 0s;
        }
    }
    &:hover .anim-box {
        width: 80px;
        i {
            transform: rotateZ(360deg);
            transition: transform .5s;
        }
    }
}